body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    font-family: oxygen;
}

#background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url('wood.jpg') center / cover;
}

.page {
    width: 100%;
    height: 100%;
}

.middle {
    position: absolute;
    width: 400px;
    height: 350px;
    top: calc(50% - 175px);
    left: calc(50% - 200px);
}

#p2 .middle {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 110%;
    left: 0;
    background: url('forest.jpg') center / cover;
    z-index: 0;
}

#p3 .middle {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 210%;
    left: 0;
    background: url('forest2.jpg') center / cover;
    z-index: 0;
}

.middle #side-t {
    position: absolute;
    width: 100%;
    height: 1%;
    z-index: 3;
}

.middle #side-b {
    position: absolute;
    width: 100%;
    height: 1%;
    z-index: 3;
}

#profilepic  {
    border: solid 1px black;
    background: url('profilepic.png') center / cover;
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 50px;
}

#bigtext p{
    position: absolute;
    width: 400px;
    height: 50%;
    margin-top: 320px;
    text-align: center;
    font-size: 42px;
    color: #ffffff;
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
}

#side-t {
    position: fixed;
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(255,255,255,0));
    width: 100%;
    height: 5%;
    z-index: 1;
}

#side-b {
    position: fixed;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(255,255,255,0));
    width: 100%;
    height: 5%;
    bottom: 0;
    z-index: 1;
}

#side-l {
    position: fixed;
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(255,255,255,0));
    width: 2%;
    height: 100%;
    z-index: 1;
}

#side-r {
    position: fixed;
    background: linear-gradient(to left, rgba(0,0,0,1), rgba(255,255,255,0));
    width: 2%;
    height: 100%;
    right: 0;
    z-index: 1;
}

.textbox {
    position: relative;
    width: 80%;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    top: 0;
    background-color: rgba(0,0,0,0.75);
}

.textbox h1{
    position: absolute;
    width: 80%;
    height: 10%;
    top: 5%;
    left: 10%;
    margin: auto;
    color: white;
    font-size: 42px;
    text-align: center;
}

.textbox p{
    position: absolute;
    width: 80%;
    height: 60%;
    top: 15%;
    left: 10%;
    margin: auto;
    color: white;
    font-size: 18px;
}

.buttons {
    position: fixed;
    height: 120px;
    width: 50px;
    right: 50px;
    top: calc(50% - 60px);
    z-index: 5;
}

.nav-button {
    position: absolute;
    height: 50px;
    width: 50px;
    border: 0;
    cursor: pointer;
    outline:none
}

#up {
    background: url('button_up.png') center / cover;
    top: 0;
}

#down {
    background: url('button_down.png') center / cover;
    bottom: 0;
}

.hidden {
    display: none;
    visibility: hidden;
}
